In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# Import Dataset

In [2]:
# Importando o dataset completo de 'nps' (notebook2)
nps = pd.read_parquet('../data/stage/3m/customers_nps_churn_palive.parquet')

# Importando o dataset completo de 'transações' (notebook1)
transactions = pd.read_parquet('../data/stage/3m/full_transactions.parquet')

In [3]:
columns = ['transaction_id', 'consumer_id', 'app_origin', 'payable_id', 'type', 'status',
           'created_at', 'updated_at', 'finished_at', 'payout_status', 'payment_partner_id',
          'payment_option_id', 'payout_partner_id', 'payment_status', 'gross_payment_in_cents',
          'payment_transaction_id', 'gas_type_id', 'quantity_in_litres', 'nozzle_id',
           'price_per_litre', 'total_in_cents', 'total_discont_in_cents', 'voucher_id',
          'fueling_status', 'volume_totalizer', 'credit_account_id',
          'credits_transaction_id', 'credits_total_in_cents', 'reward_id',
           'reward_discount', 'pos_id', 'accumulated_discount_99_in_cents',
           'voucher_discount', 'payout_date']

In [4]:
transactions = transactions[columns]

In [5]:
transactions = transactions[transactions['consumer_id'].notna()]

In [6]:
transactions.loc[:,'consumer_id'] = transactions['consumer_id'].astype('int')
transactions.loc[:,'transaction_id'] = transactions['transaction_id'].astype('int')
transactions.loc[:,'payable_id'] = transactions['payable_id'].astype('int')

In [7]:
# Este dataset contém 129274 registros, e 74 colunas.
nps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 0 to 5061
Data columns (total 46 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   consumer_id                     5062 non-null   int64
 1   role_id                         5062 non-null   int64
 2   cpf                             5062 non-null   float64
 3   email                           5062 non-null   object
 4   birthdate                       5062 non-null   object
 5   city                            4517 non-null   object
 6   state                           4517 non-null   object
 7   phonenumber                     5062 non-null   float64
 8   created_at                      5062 non-null   object
 9   updated_at                      5062 non-null   object
 10  eou_synced_at                   799 non-null    object
 11  last_activity_date              5062 non-null   object
 12  completed_at                    4441 non-null   object
 13  paypal_linked_at                914 non-null    object
 14  braintree_id                    752 non-null    object
 15  braintree_token                 701 non-null    object
 16  paypal_id                       3 non-null      object
 17  paypal_billing_agreement        876 non-null    object
 18  paypal_email                    876 non-null    object
 19  paypal_cpf                      833 non-null    float64
 20  paydiant_uri                    0 non-null      object
 21  paydiant_linked_at              0 non-null      object
 22  stone_wallet_id                 0 non-null      object
 23  stone_linked_at                 0 non-null      object
 24  allow_newsletter                5048 non-null   float64
 25  allow_promos                    5062 non-null   int64
 26  paypal_allow_automatic_payment  5062 non-null   int64
 27  allow_automatic_payment         5062 non-null   int64
 28  paypal_subscription_canceled    5062 non-null   int64
 29  active                          5062 non-null   int64
 30  signup_complete                 5062 non-null   int64
 31  legacy_email                    0 non-null      object
 32  legacy_paypal_id                0 non-null      object
 33  legacy_paypal_subscription      0 non-null      object
 34  city_id                         4522 non-null   float64
 35  referral_code                   5062 non-null   object
 36  mercadopago_linked_at           3699 non-null   object
 37  mercadopago_email               3699 non-null   object
 38  mercadopago_id                  3699 non-null   object
 39  mfa_validated                   5062 non-null   object
 40  country                         5062 non-null   object
 41  nota_recomendacao_customer      863 non-null    float64
 42  nota_recomendacao_nps           4240 non-null   float64
 43  nps                             5062 non-null   int64
 44  p_churn                         4522 non-null   float64
 45  p_currently_alive               3002 non-null   float64
dtypes: float64(9), int64(9), object(28)
memory usage: 1.8+ MB

In [8]:
# Este dataset contém 12313166, e 71 colunas.
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12296099 entries, 0 to 12313165
Data columns (total 34 columns):
 #   Column                            Dtype
---  ------                            -----
 0   transaction_id                    int64
 1   consumer_id                       int64
 2   app_origin                        int32
 3   payable_id                        int64
 4   type                              object
 5   status                            int32
 6   created_at                        object
 7   updated_at                        object
 8   finished_at                       object
 9   payout_status                     object
 10  payment_partner_id                object
 11  payment_option_id                 object
 12  payout_partner_id                 object
 13  payment_status                    object
 14  gross_payment_in_cents            int32
 15  payment_transaction_id            object
 16  gas_type_id                       object
 17  quantity_in_litres                float32
 18  nozzle_id                         int32
 19  price_per_litre                   float32
 20  total_in_cents                    int32
 21  total_discont_in_cents            int32
 22  voucher_id                        object
 23  fueling_status                    object
 24  volume_totalizer                  float32
 25  credit_account_id                 float64
 26  credits_transaction_id            float64
 27  credits_total_in_cents            int32
 28  reward_id                         float64
 29  reward_discount                   float64
 30  pos_id                            float64
 31  accumulated_discount_99_in_cents  int32
 32  voucher_discount                  float64
 33  payout_date                       object
dtypes: float32(3), float64(6), int32(8), int64(3), object(14)
memory usage: 2.7+ GB

### How many customer had a transaction in the last 3 months?

In [12]:
transactions['consumer_id'].value_counts().shape[0]

2277877

# Merge 'nps' + 'transactions'

In [9]:
tabelao_transactions = pd.merge(nps, transactions, on='consumer_id', how='left', suffixes=('_nps', '_transactions'))

In [10]:
tabelao_transactions['nota_recomendacao_customer'].isnull().sum()

32892

In [16]:
tabelao_transactions['nota_recomendacao_customer']

0        10.0
1        10.0
2        10.0
3        10.0
4        10.0
         ...
60294     NaN
60295     NaN
60296     NaN
60297     NaN
60298     NaN
Name: nota_recomendacao_customer, Length: 60299, dtype: float64

In [20]:
#Salvando em Parquet
tabelao_transactions.to_parquet('../data/stage/3m/customers_transactions.parquet')

In [19]:
tabelao_transactions.info(max_cols=144)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60299 entries, 0 to 60298
Data columns (total 79 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   consumer_id                       60299 non-null  int64
 1   role_id                           60299 non-null  int64
 2   cpf                               60299 non-null  float64
 3   email                             60299 non-null  object
 4   birthdate                         60299 non-null  object
 5   city                              55084 non-null  object
 6   state                             55084 non-null  object
 7   phonenumber                       60299 non-null  float64
 8   created_at_nps                    60299 non-null  object
 9   updated_at_nps                    60299 non-null  object
 10  eou_synced_at                     8131 non-null   object
 11  last_activity_date                60299 non-null  object
 12  completed_at                      53209 non-null  object
 13  paypal_linked_at                  8658 non-null   object
 14  braintree_id                      6966 non-null   object
 15  braintree_token                   6450 non-null   object
 16  paypal_id                         12 non-null     object
 17  paypal_billing_agreement          8227 non-null   object
 18  paypal_email                      8227 non-null   object
 19  paypal_cpf                        7878 non-null   float64
 20  paydiant_uri                      0 non-null      object
 21  paydiant_linked_at                0 non-null      object
 22  stone_wallet_id                   0 non-null      object
 23  stone_linked_at                   0 non-null      object
 24  allow_newsletter                  60133 non-null  float64
 25  allow_promos                      60299 non-null  int64
 26  paypal_allow_automatic_payment    60299 non-null  int64
 27  allow_automatic_payment           60299 non-null  int64
 28  paypal_subscription_canceled      60299 non-null  int64
 29  active                            60299 non-null  int64
 30  signup_complete                   60299 non-null  int64
 31  legacy_email                      0 non-null      object
 32  legacy_paypal_id                  0 non-null      object
 33  legacy_paypal_subscription        0 non-null      object
 34  city_id                           55133 non-null  float64
 35  referral_code                     60299 non-null  object
 36  mercadopago_linked_at             47934 non-null  object
 37  mercadopago_email                 47934 non-null  object
 38  mercadopago_id                    47934 non-null  object
 39  mfa_validated                     60299 non-null  object
 40  country                           60299 non-null  object
 41  nota_recomendacao_customer        27407 non-null  float64
 42  nota_recomendacao_nps             34724 non-null  float64
 43  nps                               60299 non-null  int64
 44  p_churn                           56537 non-null  float64
 45  p_currently_alive                 50649 non-null  float64
 46  transaction_id                    60257 non-null  float64
 47  app_origin                        60257 non-null  float64
 48  payable_id                        60257 non-null  float64
 49  type                              60257 non-null  object
 50  status                            60257 non-null  float64
 51  created_at_transactions           60257 non-null  object
 52  updated_at_transactions           60257 non-null  object
 53  finished_at                       60257 non-null  object
 54  payout_status                     58050 non-null  object
 55  payment_partner_id                59699 non-null  object
 56  payment_option_id                 59695 non-null  object
 57  payout_partner_id                 31180 non-null  object
 58  payment_status                    59700 non-null  object
 59  gross_payment_in_cents            60257 non-null  float64
 60  payment_transaction_id            32591 non-null  object
 61  gas_type_id                       59834 non-null  object
 62  quantity_in_litres                60257 non-null  float32
 63  nozzle_id                         60257 non-null  float64
 64  price_per_litre                   60257 non-null  float32
 65  total_in_cents                    60257 non-null  float64
 66  total_discont_in_cents            60257 non-null  float64
 67  voucher_id                        29165 non-null  object
 68  fueling_status                    60257 non-null  object
 69  volume_totalizer                  59834 non-null  float32
 70  credit_account_id                 0 non-null      float64
 71  credits_transaction_id            578 non-null    float64
 72  credits_total_in_cents            60257 non-null  float64
 73  reward_id                         31245 non-null  float64
 74  reward_discount                   58050 non-null  float64
 75  pos_id                            0 non-null      float64
 76  accumulated_discount_99_in_cents  60257 non-null  float64
 77  voucher_discount                  58050 non-null  float64
 78  payout_date                       31183 non-null  object
dtypes: float32(3), float64(25), int64(9), object(42)
memory usage: 36.1+ MB

In [ ]:
# Vamos transformar esse array em um dataframe, para podermos concaternar na nossa base de dados
df = pd.DataFrame(nota_recomendacao, columns = ['nota_recomendacao'])