In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

# Dataset import

In [2]:
# Importando o dataset completo de 'nps' (notebook3)
nps = pd.read_parquet('../data/stage/3m/customers_transactions.parquet')

# Importando vouchers
cupons = pd.read_parquet('../data/raw/3m/acelera_prd_vouchers.snappy.parquet')

In [11]:
cupons['redeem_status'].value_counts()

payout_processing        10619750
payout_successful         1939175
payout_failed              214005
payout_status_unknown         105
Name: redeem_status, dtype: int64

In [13]:
cupons.head(20)

,voucher_id,origin_consumer_id,target_consumer_id,store_id,reward_id,discount_amount,expires_at,transaction_id,payout_result_json,redeemed_at,redeem_status,created_at,updated_at,count_voucher,partner_voucher_id,order_use,datalake_dt,year_ptt,month_ptt,day_ptt,voucher_data
0,22259049-bb8f-4c90-9df2-74dd87d0c587,None,455762,None,725,None,2020-04-09,None,None,None,None,2020-03-16 17:06:51.000,2020-03-25 21:35:11.000,1,None,None,2021-09-04,2020,3,16,None
1,ad694a54-e4d7-49e6-92b6-42a427206116,None,299092,None,725,None,2020-03-31,None,None,None,None,2020-03-16 17:06:51.000,2020-03-16 17:06:51.000,1,None,None,2021-09-04,2020,3,16,None
2,b9b86b2d-764d-4033-8c9b-f6b7220eded3,None,1569978,None,724,None,2020-03-31,None,None,None,None,2020-03-16 13:41:43.000,2020-03-16 13:41:43.000,1,None,None,2021-09-04,2020,3,16,None
3,470f5b94-4213-48a7-9444-8469c4f9b7de,None,1570169,None,725,None,2020-03-31,None,None,None,None,2020-03-16 16:51:13.000,2020-03-16 16:51:13.000,1,None,None,2021-09-04,2020,3,16,None
4,fad4f94f-0609-48a0-b53e-6cdbdbe5ba2a,None,2676950,None,724,None,2020-03-31,10819278,"{""id"": 6113438990, ""card"": {}, ""order"": {}, ""p...",2020-03-21 13:26:26.000,payout_successful,2020-03-16 13:43:52.000,2020-03-21 13:26:26.000,1,None,None,2021-09-04,2020,3,16,None
5,ef44428e-1cc1-4e63-a638-45a8aa0f69d4,None,2677318,None,725,None,2020-03-31,None,None,None,None,2020-03-16 16:38:37.000,2020-03-16 16:38:37.000,1,None,None,2021-09-04,2020,3,16,None
6,e1d55bfd-cf0a-4d2c-8250-77c6980d1866,None,3293639,None,725,None,2020-03-31,None,None,None,None,2020-03-16 16:27:02.000,2020-03-16 16:27:02.000,1,None,None,2021-09-04,2020,3,16,None
7,b336b0ea-4d2b-4003-864b-c20025b42913,None,3294417,None,725,None,2020-03-31,None,None,None,None,2020-03-16 16:27:02.000,2020-03-16 16:27:02.000,1,None,None,2021-09-04,2020,3,16,None
8,c1eeb9af-0bcd-4107-9cbb-9513229f5ffa,None,3284488,None,725,None,2020-03-31,None,None,None,None,2020-03-16 16:27:02.000,2020-03-16 16:27:02.000,1,None,None,2021-09-04,2020,3,16,None
9,019124e2-3c23-47d3-bcd3-8418d90ce67c,None,364464,None,724,None,2020-03-31,10730980,"{""id"": 6095916469, ""card"": {}, ""order"": {}, ""p...",2020-03-17 19:13:02.000,payout_successful,2020-03-16 13:46:21.000,2020-03-17 19:13:03.000,1,None,None,2021-09-04,2020,3,16,None
10,259fc5b3-27de-4634-8533-76ee60e30e3c,None,365889,None,725,None,2020-03-31,10812289,"{""id"": 6111270513, ""card"": {}, ""order"": {}, ""p...",2020-03-20 22:06:53.000,payout_successful,2020-03-16 17:06:51.000,2020-03-20 22:06:54.000,1,None,None,2021-09-04,2020,3,16,None
11,28962cb6-f399-4913-998b-f313f2dc9254,None,474847,None,725,None,2020-03-31,10841131,"{""id"": 6118902084, ""card"": {}, ""order"": {}, ""p...",2020-03-22 22:38:06.000,payout_successful,2020-03-16 17:06:51.000,2020-03-22 22:38:06.000,1,None,None,2021-09-04,2020,3,16,None
12,ed0fa2f9-8bd6-4073-ad4e-5e79e49404f1,None,2110268,None,725,None,2020-03-31,None,None,None,None,2020-03-16 16:49:35.000,2020-03-16 16:49:35.000,1,None,None,2021-09-04,2020,3,16,None
13,dfe21314-df24-4594-ac47-23f62a3f6abd,None,1570454,None,725,None,2020-03-31,10916003,"{""id"": 6145477847, ""card"": {}, ""order"": {}, ""p...",2020-03-29 18:40:36.000,payout_successful,2020-03-16 16:51:13.000,2020-03-29 18:40:37.000,1,None,None,2021-09-04,2020,3,16,None
14,06e7f442-f228-4f29-ac60-2fa23e3b5cb5,None,2609553,None,725,None,2020-03-31,None,None,None,None,2020-03-16 16:38:37.000,2020-03-16 16:38:37.000,1,None,None,2021-09-04,2020,3,16,None
15,7d4bb305-cedd-457e-808e-1e3151e72ed7,None,461425,None,724,None,2020-03-31,10851807,"{""id"": 6121979172, ""card"": {}, ""order"": {}, ""p...",2020-03-23 20:43:06.000,payout_successful,2020-03-16 13:41:43.000,2020-03-23 20:43:07.000,1,None,None,2021-09-04,2020,3,16,None
16,731b202b-fb1a-4212-a7f0-add4e71f6841,None,3727300,None,725,None,2020-03-31,None,None,None,None,2020-03-16 16:18:39.000,2020-03-16 16:18:39.000,1,None,None,2021-09-04,2020,3,16,None
17,03845156-56a5-4672-acea-d6761bf03796,None,2812562,None,725,None,2020-03-31,None,None,None,None,2020-03-16 16:36:55.000,2020-03-16 16:36:55.000,1,None,None,2021-09-04,2020,3,16,None
18,9cb080da-1a1a-4e77-9892-7e02eb0e7326,None,396954,None,725,None,2020-03-31,None,None,None,None,2020-03-16 17:06:51.000,2020-03-16 17:06:51.000,1,None,None,2021-09-04,2020,3,16,None
19,cb19af13-6fae-4bff-9e10-8fa0c3cf4dd0,None,3389588,None,719,1000,2020-04-05,None,None,None,None,2020-03-16 12:01:01.000,2020-03-16 12:01:01.000,4,None,None,2021-09-04,2020,3,16,None

In [3]:
nps.info(max_cols=144)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 48816
Data columns (total 79 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   consumer_id                       48817 non-null  int64
 1   role_id                           48817 non-null  int64
 2   cpf                               48817 non-null  float64
 3   email                             48817 non-null  object
 4   birthdate                         48817 non-null  object
 5   city                              44000 non-null  object
 6   state                             44000 non-null  object
 7   phonenumber                       48817 non-null  float64
 8   created_at_nps                    48817 non-null  object
 9   updated_at_nps                    48817 non-null  object
 10  eou_synced_at                     7236 non-null   object
 11  last_activity_date                48817 non-null  object
 12  completed_at                      42925 non-null  object
 13  paypal_linked_at                  7699 non-null   object
 14  braintree_id                      6263 non-null   object
 15  braintree_token                   5791 non-null   object
 16  paypal_id                         12 non-null     object
 17  paypal_billing_agreement          7374 non-null   object
 18  paypal_email                      7374 non-null   object
 19  paypal_cpf                        7025 non-null   float64
 20  paydiant_uri                      0 non-null      object
 21  paydiant_linked_at                0 non-null      object
 22  stone_wallet_id                   0 non-null      object
 23  stone_linked_at                   0 non-null      object
 24  allow_newsletter                  48651 non-null  float64
 25  allow_promos                      48817 non-null  int64
 26  paypal_allow_automatic_payment    48817 non-null  int64
 27  allow_automatic_payment           48817 non-null  int64
 28  paypal_subscription_canceled      48817 non-null  int64
 29  active                            48817 non-null  int64
 30  signup_complete                   48817 non-null  int64
 31  legacy_email                      0 non-null      object
 32  legacy_paypal_id                  0 non-null      object
 33  legacy_paypal_subscription        0 non-null      object
 34  city_id                           44049 non-null  float64
 35  referral_code                     48817 non-null  object
 36  mercadopago_linked_at             37477 non-null  object
 37  mercadopago_email                 37477 non-null  object
 38  mercadopago_id                    37477 non-null  object
 39  mfa_validated                     48817 non-null  object
 40  country                           48817 non-null  object
 41  nota_recomendacao_customer        15925 non-null  float64
 42  nota_recomendacao_nps             33865 non-null  float64
 43  nps                               48817 non-null  int64
 44  p_churn                           45584 non-null  float64
 45  p_currently_alive                 39809 non-null  float64
 46  transaction_id                    48775 non-null  float64
 47  app_origin                        48775 non-null  float64
 48  payable_id                        48775 non-null  float64
 49  type                              48775 non-null  object
 50  status                            48775 non-null  float64
 51  created_at_transactions           48775 non-null  object
 52  updated_at_transactions           48775 non-null  object
 53  finished_at                       48775 non-null  object
 54  payout_status                     46795 non-null  object
 55  payment_partner_id                48298 non-null  object
 56  payment_option_id                 48294 non-null  object
 57  payout_partner_id                 21494 non-null  object
 58  payment_status                    48299 non-null  object
 59  gross_payment_in_cents            48775 non-null  float64
 60  payment_transaction_id            25744 non-null  object
 61  gas_type_id                       48416 non-null  object
 62  quantity_in_litres                48775 non-null  float32
 63  nozzle_id                         48775 non-null  float64
 64  price_per_litre                   48775 non-null  float32
 65  total_in_cents                    48775 non-null  float64
 66  total_discont_in_cents            48775 non-null  float64
 67  voucher_id                        19515 non-null  object
 68  fueling_status                    48775 non-null  object
 69  volume_totalizer                  48416 non-null  float32
 70  credit_account_id                 0 non-null      float64
 71  credits_transaction_id            571 non-null    float64
 72  credits_total_in_cents            48775 non-null  float64
 73  reward_id                         21549 non-null  float64
 74  reward_discount                   46795 non-null  float64
 75  pos_id                            0 non-null      float64
 76  accumulated_discount_99_in_cents  48775 non-null  float64
 77  voucher_discount                  46795 non-null  float64
 78  payout_date                       21495 non-null  object
dtypes: float32(3), float64(25), int64(9), object(42)
memory usage: 29.2+ MB

In [5]:
cupons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24231541 entries, 0 to 24231540
Data columns (total 21 columns):
 #   Column              Dtype
---  ------              -----
 0   voucher_id          object
 1   origin_consumer_id  object
 2   target_consumer_id  object
 3   store_id            object
 4   reward_id           object
 5   discount_amount     object
 6   expires_at          object
 7   transaction_id      object
 8   payout_result_json  object
 9   redeemed_at         object
 10  redeem_status       object
 11  created_at          object
 12  updated_at          object
 13  count_voucher       object
 14  partner_voucher_id  object
 15  order_use           object
 16  datalake_dt         object
 17  year_ptt            object
 18  month_ptt           object
 19  day_ptt             object
 20  voucher_data        object
dtypes: object(21)
memory usage: 3.8+ GB

# Merge ('nps' + 'Vouchers')
Para essa mescla será necessário 'transaction_id' e 'ref_date' como primary keys: transaction_id, reward_id, store_id

In [6]:
# Como essas são as chaves primarias, precisamos nos certificar de que estão no mesmo dtype
cupons['transaction_id'] = pd.to_numeric(cupons['transaction_id'], errors = 'coerce')
cupons['reward_id'] = pd.to_numeric(cupons['reward_id'], errors = 'coerce')
cupons['store_id'] = pd.to_numeric(cupons['store_id'], errors = 'coerce')

In [7]:
columns = [
    'voucher_id', 'origin_consumer_id', 'target_consumer_id', 'store_id',
    'reward_id', 'discount_amount', 'expires_at', 'transaction_id',
    'redeemed_at', 'redeem_status', 'created_at', 'updated_at',
    'count_voucher', 'partner_voucher_id', 'order_use', 'voucher_data'
]
cupons = cupons[columns]

In [8]:
cupons = cupons[cupons['transaction_id'].notna()]

In [17]:
cupons.loc[:,'transaction_id'] = cupons['transaction_id'].astype('int')
cupons.loc[:,'reward_id'] = cupons['reward_id'].astype('int')

In [18]:
nps.shape

(48817, 79)

In [20]:
# Merge tabelas nps + cupons
merge_table = pd.merge(nps, cupons, on=['transaction_id'], how='left', suffixes=('_transactions', '_vouchers'))

In [21]:
merge_table.shape

(48817, 94)

In [22]:
# Obtivemos 1970115k de registros e 161 colunas
merge_table.info(max_cols=161)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 48816
Data columns (total 94 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   consumer_id                       48817 non-null  int64
 1   role_id                           48817 non-null  int64
 2   cpf                               48817 non-null  float64
 3   email                             48817 non-null  object
 4   birthdate                         48817 non-null  object
 5   city                              44000 non-null  object
 6   state                             44000 non-null  object
 7   phonenumber                       48817 non-null  float64
 8   created_at_nps                    48817 non-null  object
 9   updated_at_nps                    48817 non-null  object
 10  eou_synced_at                     7236 non-null   object
 11  last_activity_date                48817 non-null  object
 12  completed_at                      42925 non-null  object
 13  paypal_linked_at                  7699 non-null   object
 14  braintree_id                      6263 non-null   object
 15  braintree_token                   5791 non-null   object
 16  paypal_id                         12 non-null     object
 17  paypal_billing_agreement          7374 non-null   object
 18  paypal_email                      7374 non-null   object
 19  paypal_cpf                        7025 non-null   float64
 20  paydiant_uri                      0 non-null      object
 21  paydiant_linked_at                0 non-null      object
 22  stone_wallet_id                   0 non-null      object
 23  stone_linked_at                   0 non-null      object
 24  allow_newsletter                  48651 non-null  float64
 25  allow_promos                      48817 non-null  int64
 26  paypal_allow_automatic_payment    48817 non-null  int64
 27  allow_automatic_payment           48817 non-null  int64
 28  paypal_subscription_canceled      48817 non-null  int64
 29  active                            48817 non-null  int64
 30  signup_complete                   48817 non-null  int64
 31  legacy_email                      0 non-null      object
 32  legacy_paypal_id                  0 non-null      object
 33  legacy_paypal_subscription        0 non-null      object
 34  city_id                           44049 non-null  float64
 35  referral_code                     48817 non-null  object
 36  mercadopago_linked_at             37477 non-null  object
 37  mercadopago_email                 37477 non-null  object
 38  mercadopago_id                    37477 non-null  object
 39  mfa_validated                     48817 non-null  object
 40  country                           48817 non-null  object
 41  nota_recomendacao_customer        15925 non-null  float64
 42  nota_recomendacao_nps             33865 non-null  float64
 43  nps                               48817 non-null  int64
 44  p_churn                           45584 non-null  float64
 45  p_currently_alive                 39809 non-null  float64
 46  transaction_id                    48775 non-null  float64
 47  app_origin                        48775 non-null  float64
 48  payable_id                        48775 non-null  float64
 49  type                              48775 non-null  object
 50  status                            48775 non-null  float64
 51  created_at_transactions           48775 non-null  object
 52  updated_at_transactions           48775 non-null  object
 53  finished_at                       48775 non-null  object
 54  payout_status                     46795 non-null  object
 55  payment_partner_id                48298 non-null  object
 56  payment_option_id                 48294 non-null  object
 57  payout_partner_id                 21494 non-null  object
 58  payment_status                    48299 non-null  object
 59  gross_payment_in_cents            48775 non-null  float64
 60  payment_transaction_id            25744 non-null  object
 61  gas_type_id                       48416 non-null  object
 62  quantity_in_litres                48775 non-null  float32
 63  nozzle_id                         48775 non-null  float64
 64  price_per_litre                   48775 non-null  float32
 65  total_in_cents                    48775 non-null  float64
 66  total_discont_in_cents            48775 non-null  float64
 67  voucher_id_transactions           19515 non-null  object
 68  fueling_status                    48775 non-null  object
 69  volume_totalizer                  48416 non-null  float32
 70  credit_account_id                 0 non-null      float64
 71  credits_transaction_id            571 non-null    float64
 72  credits_total_in_cents            48775 non-null  float64
 73  reward_id_transactions            21549 non-null  float64
 74  reward_discount                   46795 non-null  float64
 75  pos_id                            0 non-null      float64
 76  accumulated_discount_99_in_cents  48775 non-null  float64
 77  voucher_discount                  46795 non-null  float64
 78  payout_date                       21495 non-null  object
 79  voucher_id_vouchers               18826 non-null  object
 80  origin_consumer_id                8947 non-null   object
 81  target_consumer_id                18826 non-null  object
 82  store_id                          88 non-null     float64
 83  reward_id_vouchers                18826 non-null  float64
 84  discount_amount                   12639 non-null  object
 85  expires_at                        17321 non-null  object
 86  redeemed_at                       18826 non-null  object
 87  redeem_status                     18826 non-null  object
 88  created_at                        18826 non-null  object
 89  updated_at                        18826 non-null  object
 90  count_voucher                     18826 non-null  object
 91  partner_voucher_id                2 non-null      object
 92  order_use                         3192 non-null   object
 93  voucher_data                      7659 non-null   object
dtypes: float32(3), float64(27), int64(9), object(55)
memory usage: 34.8+ MB

# Salvando em parquet

In [23]:
#Salvando em Parquet
merge_table.to_parquet('../data/stage/3m/customers_transactions_vouchers.parquet')