# Packages import
Vamos usar o pacote Pandas

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

# Dataset import
Para esta sesão, será utilizado dois datasets, onde vamos os mesclar de acordo com a primary key: 'transaction_id' e 'ref_date'

In [2]:
# Importando o dataset completo de 'nps' (notebook5)
nps = pd.read_parquet('../data/stage/3m/customers_transactions_vouchers.parquet')

# Importando o dataset completo de 'ratings' 
ratings = pd.read_parquet('../data/raw/3m/acelera_prd_ratings.snappy.parquet')

# Show datasets
Breve visualização dos dados

In [3]:
# O dataset contém 1969416 de registros e 144 colunas.
nps.info(max_cols=161)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 48816
Data columns (total 94 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   consumer_id                       48817 non-null  int64
 1   role_id                           48817 non-null  int64
 2   cpf                               48817 non-null  float64
 3   email                             48817 non-null  object
 4   birthdate                         48817 non-null  object
 5   city                              44000 non-null  object
 6   state                             44000 non-null  object
 7   phonenumber                       48817 non-null  float64
 8   created_at_nps                    48817 non-null  object
 9   updated_at_nps                    48817 non-null  object
 10  eou_synced_at                     7236 non-null   object
 11  last_activity_date                48817 non-null  object
 12  completed_at                      42925 non-null  object
 13  paypal_linked_at                  7699 non-null   object
 14  braintree_id                      6263 non-null   object
 15  braintree_token                   5791 non-null   object
 16  paypal_id                         12 non-null     object
 17  paypal_billing_agreement          7374 non-null   object
 18  paypal_email                      7374 non-null   object
 19  paypal_cpf                        7025 non-null   float64
 20  paydiant_uri                      0 non-null      object
 21  paydiant_linked_at                0 non-null      object
 22  stone_wallet_id                   0 non-null      object
 23  stone_linked_at                   0 non-null      object
 24  allow_newsletter                  48651 non-null  float64
 25  allow_promos                      48817 non-null  int64
 26  paypal_allow_automatic_payment    48817 non-null  int64
 27  allow_automatic_payment           48817 non-null  int64
 28  paypal_subscription_canceled      48817 non-null  int64
 29  active                            48817 non-null  int64
 30  signup_complete                   48817 non-null  int64
 31  legacy_email                      0 non-null      object
 32  legacy_paypal_id                  0 non-null      object
 33  legacy_paypal_subscription        0 non-null      object
 34  city_id                           44049 non-null  float64
 35  referral_code                     48817 non-null  object
 36  mercadopago_linked_at             37477 non-null  object
 37  mercadopago_email                 37477 non-null  object
 38  mercadopago_id                    37477 non-null  object
 39  mfa_validated                     48817 non-null  object
 40  country                           48817 non-null  object
 41  nota_recomendacao_customer        15925 non-null  float64
 42  nota_recomendacao_nps             33865 non-null  float64
 43  nps                               48817 non-null  int64
 44  p_churn                           45584 non-null  float64
 45  p_currently_alive                 39809 non-null  float64
 46  transaction_id                    48775 non-null  float64
 47  app_origin                        48775 non-null  float64
 48  payable_id                        48775 non-null  float64
 49  type                              48775 non-null  object
 50  status                            48775 non-null  float64
 51  created_at_transactions           48775 non-null  object
 52  updated_at_transactions           48775 non-null  object
 53  finished_at                       48775 non-null  object
 54  payout_status                     46795 non-null  object
 55  payment_partner_id                48298 non-null  object
 56  payment_option_id                 48294 non-null  object
 57  payout_partner_id                 21494 non-null  object
 58  payment_status                    48299 non-null  object
 59  gross_payment_in_cents            48775 non-null  float64
 60  payment_transaction_id            25744 non-null  object
 61  gas_type_id                       48416 non-null  object
 62  quantity_in_litres                48775 non-null  float32
 63  nozzle_id                         48775 non-null  float64
 64  price_per_litre                   48775 non-null  float32
 65  total_in_cents                    48775 non-null  float64
 66  total_discont_in_cents            48775 non-null  float64
 67  voucher_id_transactions           19515 non-null  object
 68  fueling_status                    48775 non-null  object
 69  volume_totalizer                  48416 non-null  float32
 70  credit_account_id                 0 non-null      float64
 71  credits_transaction_id            571 non-null    float64
 72  credits_total_in_cents            48775 non-null  float64
 73  reward_id_transactions            21549 non-null  float64
 74  reward_discount                   46795 non-null  float64
 75  pos_id                            0 non-null      float64
 76  accumulated_discount_99_in_cents  48775 non-null  float64
 77  voucher_discount                  46795 non-null  float64
 78  payout_date                       21495 non-null  object
 79  voucher_id_vouchers               18826 non-null  object
 80  origin_consumer_id                8947 non-null   object
 81  target_consumer_id                18826 non-null  object
 82  store_id                          88 non-null     float64
 83  reward_id_vouchers                18826 non-null  float64
 84  discount_amount                   12639 non-null  object
 85  expires_at                        17321 non-null  object
 86  redeemed_at                       18826 non-null  object
 87  redeem_status                     18826 non-null  object
 88  created_at                        18826 non-null  object
 89  updated_at                        18826 non-null  object
 90  count_voucher                     18826 non-null  object
 91  partner_voucher_id                2 non-null      object
 92  order_use                         3192 non-null   object
 93  voucher_data                      7659 non-null   object
dtypes: float32(3), float64(27), int64(9), object(55)
memory usage: 34.8+ MB

In [4]:
# O dataset contém 19M de registros e 15 colunas.
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19320837 entries, 0 to 19320836
Data columns (total 15 columns):
 #   Column            Dtype
---  ------            -----
 0   rating_id         object
 1   consumer_id       object
 2   device_model      object
 3   transaction_type  object
 4   rating_value      object
 5   rating_reason     object
 6   rating_comment    object
 7   ref_id            object
 8   created_at        object
 9   updated_at        object
 10  store_id          object
 11  datalake_dt       object
 12  year_ptt          object
 13  month_ptt         object
 14  day_ptt           object
dtypes: object(15)
memory usage: 2.2+ GB

# Merge ('NPS' + 'Ratings')
Para essa mescla será necessário 'transaction_id' e 'ref_date' como primary keys: transaction_id, consumer_id, store_id

In [3]:
columns = [
    'rating_id', 'consumer_id', 'device_model', 'transaction_type',
    'rating_value', 'rating_reason', 'rating_comment', 'ref_id',
    'created_at', 'updated_at', 'store_id'
]
ratings = ratings[columns]

In [4]:
# Para fazer a mescla, a variável 'on' precisa ter o mesmo dtype em ambos datasets.
ratings = ratings.rename(columns={'ref_id': 'transaction_id'})

In [5]:
ratings['transaction_id'].notna().value_counts()

True     19319431
False        1406
Name: transaction_id, dtype: int64

In [6]:
# Alterar o dtype de transaction_id para numerico
ratings['transaction_id'] = pd.to_numeric(ratings['transaction_id'], errors = 'coerce')
ratings.loc[:,'consumer_id'] = ratings['consumer_id'].astype('int')

In [7]:
ratings['transaction_id'].notna().value_counts()

True     19252572
False       68265
Name: transaction_id, dtype: int64

In [8]:
ratings = ratings[ratings['transaction_id'].notna()]
ratings = ratings[ratings['transaction_id'] != 0]

In [9]:
ratings.loc[:,'transaction_id'] = ratings['transaction_id'].astype('int')

In [22]:
ratings = ratings.drop_duplicates(subset='transaction_id')

In [23]:
nps.shape

(48817, 94)

In [24]:
# Merge tabelas nps + ratings
merge_table = pd.merge(nps, ratings, on=['transaction_id'], how='left', suffixes=('', '_ratings'))

In [25]:
merge_table.shape

(48817, 104)

In [26]:
# Há 1984732 de observações e 174 colunas
merge_table.info(max_cols = 174)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 48816
Data columns (total 104 columns):
 #    Column                            Non-Null Count  Dtype
---   ------                            --------------  -----
 0    consumer_id                       48817 non-null  int64
 1    role_id                           48817 non-null  int64
 2    cpf                               48817 non-null  float64
 3    email                             48817 non-null  object
 4    birthdate                         48817 non-null  object
 5    city                              44000 non-null  object
 6    state                             44000 non-null  object
 7    phonenumber                       48817 non-null  float64
 8    created_at_nps                    48817 non-null  object
 9    updated_at_nps                    48817 non-null  object
 10   eou_synced_at                     7236 non-null   object
 11   last_activity_date                48817 non-null  object
 12   completed_at                      42925 non-null  object
 13   paypal_linked_at                  7699 non-null   object
 14   braintree_id                      6263 non-null   object
 15   braintree_token                   5791 non-null   object
 16   paypal_id                         12 non-null     object
 17   paypal_billing_agreement          7374 non-null   object
 18   paypal_email                      7374 non-null   object
 19   paypal_cpf                        7025 non-null   float64
 20   paydiant_uri                      0 non-null      object
 21   paydiant_linked_at                0 non-null      object
 22   stone_wallet_id                   0 non-null      object
 23   stone_linked_at                   0 non-null      object
 24   allow_newsletter                  48651 non-null  float64
 25   allow_promos                      48817 non-null  int64
 26   paypal_allow_automatic_payment    48817 non-null  int64
 27   allow_automatic_payment           48817 non-null  int64
 28   paypal_subscription_canceled      48817 non-null  int64
 29   active                            48817 non-null  int64
 30   signup_complete                   48817 non-null  int64
 31   legacy_email                      0 non-null      object
 32   legacy_paypal_id                  0 non-null      object
 33   legacy_paypal_subscription        0 non-null      object
 34   city_id                           44049 non-null  float64
 35   referral_code                     48817 non-null  object
 36   mercadopago_linked_at             37477 non-null  object
 37   mercadopago_email                 37477 non-null  object
 38   mercadopago_id                    37477 non-null  object
 39   mfa_validated                     48817 non-null  object
 40   country                           48817 non-null  object
 41   nota_recomendacao_customer        15925 non-null  float64
 42   nota_recomendacao_nps             33865 non-null  float64
 43   nps                               48817 non-null  int64
 44   p_churn                           45584 non-null  float64
 45   p_currently_alive                 39809 non-null  float64
 46   transaction_id                    48775 non-null  float64
 47   app_origin                        48775 non-null  float64
 48   payable_id                        48775 non-null  float64
 49   type                              48775 non-null  object
 50   status                            48775 non-null  float64
 51   created_at_transactions           48775 non-null  object
 52   updated_at_transactions           48775 non-null  object
 53   finished_at                       48775 non-null  object
 54   payout_status                     46795 non-null  object
 55   payment_partner_id                48298 non-null  object
 56   payment_option_id                 48294 non-null  object
 57   payout_partner_id                 21494 non-null  object
 58   payment_status                    48299 non-null  object
 59   gross_payment_in_cents            48775 non-null  float64
 60   payment_transaction_id            25744 non-null  object
 61   gas_type_id                       48416 non-null  object
 62   quantity_in_litres                48775 non-null  float32
 63   nozzle_id                         48775 non-null  float64
 64   price_per_litre                   48775 non-null  float32
 65   total_in_cents                    48775 non-null  float64
 66   total_discont_in_cents            48775 non-null  float64
 67   voucher_id_transactions           19515 non-null  object
 68   fueling_status                    48775 non-null  object
 69   volume_totalizer                  48416 non-null  float32
 70   credit_account_id                 0 non-null      float64
 71   credits_transaction_id            571 non-null    float64
 72   credits_total_in_cents            48775 non-null  float64
 73   reward_id_transactions            21549 non-null  float64
 74   reward_discount                   46795 non-null  float64
 75   pos_id                            0 non-null      float64
 76   accumulated_discount_99_in_cents  48775 non-null  float64
 77   voucher_discount                  46795 non-null  float64
 78   payout_date                       21495 non-null  object
 79   voucher_id_vouchers               18826 non-null  object
 80   origin_consumer_id                8947 non-null   object
 81   target_consumer_id                18826 non-null  object
 82   store_id                          88 non-null     float64
 83   reward_id_vouchers                18826 non-null  float64
 84   discount_amount                   12639 non-null  object
 85   expires_at                        17321 non-null  object
 86   redeemed_at                       18826 non-null  object
 87   redeem_status                     18826 non-null  object
 88   created_at                        18826 non-null  object
 89   updated_at                        18826 non-null  object
 90   count_voucher                     18826 non-null  object
 91   partner_voucher_id                2 non-null      object
 92   order_use                         3192 non-null   object
 93   voucher_data                      7659 non-null   object
 94   rating_id                         23630 non-null  object
 95   consumer_id_ratings               23630 non-null  float64
 96   device_model                      23630 non-null  object
 97   transaction_type                  23630 non-null  object
 98   rating_value                      23630 non-null  object
 99   rating_reason                     11377 non-null  object
 100  rating_comment                    5741 non-null   object
 101  created_at_ratings                23630 non-null  object
 102  updated_at_ratings                23630 non-null  object
 103  store_id_ratings                  18184 non-null  object
dtypes: float32(3), float64(28), int64(9), object(64)
memory usage: 38.5+ MB

# Salvando em parquet

In [27]:
#Salvando em Parquet
merge_table.to_parquet('../data/stage/3m/customers_transactions_vouchers_ratings.parquet')

In [11]:
merge_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1984732 entries, 0 to 1984731
Columns: 174 entries, consumer_id to day_ptt_ratings
dtypes: datetime64[ns](2), float32(3), float64(43), int64(12), object(114)
memory usage: 2.6+ GB