In [1]:
from dask.distributed import Client
import dask.dataframe as dd


client = Client(n_workers=4)

/usr/local/lib/python3.6/site-packages/distributed/node.py:155: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 41291 instead
  http_address["port"], self.http_server.port

In [57]:
import pandas as pd
import multiprocessing

df = pd.read_feather('../examples/downloaded_data/marketing.feather')
df = pd.concat([df] * 3000, ignore_index = True)
df.shape

(6648000, 36)

In [58]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6648000 entries, 0 to 6647999
Data columns (total 36 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ID                        int64
 1   Education                 object
 2   Marital_Status            object
 3   Income                    float64
 4   Kidhome                   int64
 5   Teenhome                  int64
 6   Recency                   int64
 7   MntWines                  float64
 8   MntFruits                 float64
 9   MntMeatProducts           float64
 10  MntFishProducts           float64
 11  MntSweetProducts          float64
 12  MntGoldProds              float64
 13  NumDealsPurchases         float64
 14  NumWebPurchases           int64
 15  NumCatalogPurchases       float64
 16  NumStorePurchases         int64
 17  NumWebVisitsMonth         int64
 18  Complain                  int64
 19  Response                  int64
 20  idade                     int64
 21  dias_cliente              int64
 22  education_n               int64
 23  parceiro                  int64
 24  pessoas_casa              int64
 25  renda_per_capta           float64
 26  compra_total_ano          float64
 27  porcentagem_compras_gold  float64
 28  gasto_renda               float64
 29  total_purchases           int64
 30  disc_purchases            float64
 31  num_compras_ano           float64
 32  percent_disc_compra       float64
 33  ticket_medio              float64
 34  conversao_site            float64
 35  cupons_aceitados          int64
dtypes: float64(18), int64(16), object(2)
memory usage: 2.5 GB

In [41]:
df.shape

(2216, 36)

In [59]:
ddf = dd.from_pandas(df, npartitions = 4*multiprocessing.cpu_count())

In [46]:
ddf.head()

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,compra_total_ano,porcentagem_compras_gold,gasto_renda,total_purchases,disc_purchases,num_compras_ano,percent_disc_compra,ticket_medio,conversao_site,cupons_aceitados
0,5524,Graduation,Single,10.970592,0,0,58,6.455199,4.488636,6.304449,...,764.5,0.055959,0.013064,22,1.386294,3.001869,0.136364,5.543906,0.012736,0
1,2174,Graduation,Single,10.743869,1,1,38,2.484907,0.693147,1.945910,...,10.5,0.251314,0.000227,4,1.098612,0.687059,0.500000,2.790093,0.002820,0
2,4141,Graduation,Together,11.179046,0,0,26,6.056784,3.912023,4.852030,...,367.0,0.055643,0.005112,20,0.693147,3.141136,0.050000,4.769300,0.025490,0
3,6182,Graduation,Together,10.190432,1,0,26,2.484907,1.609438,3.044522,...,24.0,0.099091,0.000900,6,1.098612,1.018131,0.333333,3.201632,0.004638,0
4,5324,PhD,Married,10.973254,1,0,94,5.159055,3.784190,4.779123,...,203.5,0.036192,0.003485,14,1.791759,2.351588,0.357143,4.472065,0.013711,0

In [68]:
def func(x):
    sleep(1)
    return

In [69]:
from time import time, sleep
import numpy as np

In [70]:
%time ddf.groupby('Marital_Status').Income.apply(func).compute()#(scheduler='processes')

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  """Entry point for launching an IPython kernel.

CPU times: user 9.82 s, sys: 10.1 s, total: 19.9 s
Wall time: 35.3 s

Marital_Status
Together    None
Widow       None
Divorced    None
Single      None
Married     None
Name: Income, dtype: object

In [71]:
%time df.groupby('Marital_Status').Income.apply(func)

CPU times: user 1.55 s, sys: 245 ms, total: 1.8 s
Wall time: 6.28 s

Marital_Status
Divorced    None
Married     None
Single      None
Together    None
Widow       None
Name: Income, dtype: object

In [31]:
df.Marital_Status.value_counts()

Married     857
Together    573
Single      478
Divorced    232
Widow        76
Name: Marital_Status, dtype: int64